{% extends 'base.html.twig' %}
{% block head %}
     {{ parent() }}

{% endblock %}
{% block title %} Site d'annonces auto {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

{% endblock %}

{% block body %}

    <div class="wrapper">
        <section class="section">
            <div class="container">
                <h4 class="text-center">
                    Vous souhaitez déposer une annonce ?<br>
                    <small class="text-muted">Vous pouvez utiliser le formulaire
                        ci-dessous afin de compléter votre démarche.
                    </small>
                </h4>
                <div class="alert alert-warning" role="alert">
                    <div class="container">
                        <strong>Attention!</strong> Vous devez représenter une société afin de poursuivre ces étapes.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
                        </button>
                    </div>
                </div>
                <div id="annonceWizard" class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->

                        <div class="step" data-target="#statut-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="statut-part"
                                    id="statut-part-trigger">


                            </button>
                        </div>

                        <div class="line"></div>

                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                                    id="information-part-trigger">


                            </button>
                        </div>

                        <div class="line"></div>

                        <div class="step" data-target="#finish-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="finish-part"
                                    id="finish-part-trigger">


                            </button>
                        </div>


                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <div id="statut-part" class="content" role="tabpanel" aria-labelledby="statut-part-trigger">

                            <h5 class="text-center mt-2">
                                Votre status
                            </h5>
                            <div class="row mt-5">
                                <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                                    <form class="formAnnonce">
                                        <div class="form-group text-center">
                                            <label for="statutInputState">Vous êtes ?</label>
                                            <select name="statutInputState" id="statutInputState" class="form-control"
                                                    required>
                                                <option disabled selected>Sélectionner votre statut</option>
                                                <option value="societe">Une société</option>
                                                <option value="particulier">Un particulier</option>
                                            </select>
                                            <div id="alert-status" class="text-danger mt-3">
                                                <strong>Oups!</strong> Ce service est uniquement destiné aux sociétés .
                                            </div>
                                        </div>
                                    </form>
                </div>
                                <div id="alert-container " class="col-12">

                                </div>
                            </div>
                            <div class="d-flex justify-content-end align-items-end">

                                <button id="statutBtn" class="btn btn-primary btn-next-form">Suivant</button>
                            </div>
                        </div>
                        <div id="information-part" class="content" role="tabpanel"
                             aria-labelledby="information-part-trigger">
                            <h5 class="text-center mt-2">
                                Vos coordonnées
                            </h5>
                            <div class="row mt-5">
                                <div class="col-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                                    <form id="formAnnonce">
                                        <div class="row">
                                            <div class="col-12 col-lg-8 offset-lg-2">
                                                <div class="form-group ">
                                                    <label for="societe">Votre société</label>
                                                    <input type="text" name="societe" class="form-control"
                                                           placeholder="Votre societe*" required>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="mail">Votre adresse mail</label>
                                                    <input type="email" name="email" class="form-control"
                                                           placeholder="Votre adresse mail"
                                                           required>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="tel">Votre numéro de téléphone</label>
                                                    <input type="tel" name="tel" class="form-control"
                                                           placeholder="ex: +33 0 00 00 00 00"
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between ">
                                <button class="btn btn-primary" onclick="window.stepperForm.previous()">Précédent
                                </button>
                                <button class="btn btn-primary btn-next-form">Suivant</button>
                            </div>
                        </div>
                        <div id="finish-part" class="content" role="tabpanel" aria-labelledby="finish-part-trigger">
                            <h5 class="text-center mt-2" id="finish-message">
                                Votre demande a bien été pris en compte. ✔️ <br>
                                <small>Nous allons traiter votre demande dans les plus bref délais.</small>
                            </h5>
                            <div class="d-flex justify-content-center ">
                                <a href="index.html" class="btn btn-link btn-primary btn-next-form">Retourner à la page
                                    d'accueil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            window.$currentStepDepot = 0;
            var stepperFormEl = document.querySelector('#annonceWizard');
            window.stepperForm = new Stepper(stepperFormEl, {
                animation: true,
                linear: true,
                selectors: {
                    steps: '.step',
                    trigger: '.step-trigger',
                    stepper: '.bs-stepper'
                }
            });

            var btnNextList = [].slice.call(document.querySelectorAll('.btn-next-form'));
            var formList = [].slice.call(stepperFormEl.querySelectorAll('.formAnnonce'));

            btnNextList.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    switch (window.$currentStepDepot) {

                        // Vérification de la première étape
                        case 0:
                            $('#finish-message').hide();
                            if (window.$statutState) {
                                window.stepperForm.next()
                            }
                            break;
                        // Vérification de la deuxième étape
                        case 1:
                            var valid = $('#formAnnonce').valid();

                            if (!valid) {
                                window.$validator.focusInvalid();
                                return false;
                            }
                            if (window.confirm('Avant de poursuivre, confirmez-vous ces informations ?')) {
                                window.stepperForm.next();
                                jQuery.ajax({
                                    url: "{{ path('demande') }}",
                                    method: "post",
                                    data: {
                                        name: $("#formAnnonce").find('input[name="societe"]').val(),
                                        email: $("#formAnnonce").find('input[name="email"]').val(),
                                        tel: $("#formAnnonce").find('input[name="tel"]').val()
                                    }

                                }).done(function (data) {
                                    $('#finish-message').show('200');
                                });

                            } else {
                                window.alert('Vous devez valider ces informations avant de continuer.');
                            }

                            break;
                        case 2:
                            console.log('fefefe');

                            break;

                        default:
                            break;
                    }
                })
            });

            stepperFormEl.addEventListener('show.bs-stepper', function (event) {
                var nextStep = event.detail.indexStep;
                var currentStep = nextStep;

                window.$currentStepDepot = currentStep;
                if (currentStep > 0) {
                    currentStep--
                }

            })

        });
    </script>

{% endblock %}