<nav class="navbar navbar-light bg-white navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#"><strong>Logo du site</strong></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active"
                                                            href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('annonces') }}">Recherche</a>
                </li>
            </ul>
            <a href="{{ path('deposer') }}" class="btn btn-primary btn-blue" type="button">Deposer une annonce</a>
        </div>
    </div>
</nav>